body {
  background-color: rgb(35, 35, 61);
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
}

.set,
.footer {
  text-align: center;
}

.drum {
  margin: 50px 10px 150px;
  padding: 30px 40px;
  font-size: 3rem;
  border: 8px solid #474242;
  border-radius: 5px;
  font-weight: bold;
  color: deeppink;
}

.footer {
  text-align: center;
  font-size: 1.2rem;
}

.set .w {
  background-image: url("images/1.jpg");
}

.set .a {
  background-image: url("images/1.jpg");
}

.set .s {
  background-image: url("images/3.jpg");
}

.set .d {
  background-image: url("images/3.jpg");
}

.set .j {
  background-image: url("images/1.jpg");
}

.set .k {
  background-image: url("images/6.jpg");
}

.set .l {
  background-image: url("images/7.png");
}

